body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  padding: 1rem;
}

.summary {
  margin-bottom: 2rem;
  display: inline-block;
}

.export-container {
  float: right;
  display: flex;
  gap: 1rem;
}

.summary-list {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.transactions {
  list-style: none;
}

.transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.transaction-item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

.transaction-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.transactions-title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
}

.transactions-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 5px;
}

.left{
  flex-grow: 1;
  flex-basis: 0;
}

.right {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}

.icon {
  cursor: pointer;
}

.options {
  position: absolute;
  border-radius: 16px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  right: .5rem;
  top: 2rem;
  background-color: white;
  cursor: pointer;
}

.button {
  padding: 8px;
  border-radius: 16px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}

.input {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 16px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.buttons-group {
  display: flex;
  gap: 1rem;
}

.form-add-transaction {
  margin-bottom: 1rem;
}

.container-add-transaction {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.form-add-label {
  margin-bottom: 1rem;
}

.add-label-container {
  display: flex;
  justify-content: space-between;
}
