.app {
  text-align: center;
}

.picker-btn {
  font-size: 24px;
}

.picker-text {
  margin-left: 8px;
  margin-right: 8px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
